/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/css/star-rating.css';

body { margin: 0; }

/* To fix ugly border in browser around star-rating component*/
*:focus {
  outline: none !important;
  border: 0 !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: none;
}

/* To make tabs in auth component fill all space evenly */
.mat-tab-label {
  width: 50%;
}
