/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

.mat-drawer-backdrop.mat-drawer-shown {
  background: none;
}

/* To make tabs in auth component fill all space evenly */
.mat-tab-label {
  width: 50%;
}
