<div class="wrapper">

  <mat-card class="login-card">
    <mat-tab-group class="form-tab-group" [dynamicHeight]="true">
      <mat-tab label="Вход">
        <div class="form-wrapper">
          <mat-form-field>
            <input matInput placeholder="Логин" [(ngModel)]="userAuthInfo.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Пароль" [(ngModel)]="userAuthInfo.password">
          </mat-form-field>
          <mat-label class="error-label">{{errorMessage}}</mat-label>
          <button mat-raised-button color="primary" (click)="login()">Войти</button>
          <button mat-button (click)="activateRecovery()">Я забыл пароль</button>
          <mat-form-field *ngIf="recoveryMode">
            <input matInput placeholder="Введите вашу почту" [(ngModel)]="recoveryEmail"
                   id="recoveryEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </mat-form-field>
          <button mat-raised-button *ngIf="recoveryMode" color="primary" (click)="recoveryPass()"
          [disabled]="!recoveryEmailCorrect()">
            Выслать новый пароль
          </button>
          <span class="recovery-label" *ngIf="recoveryMode && !networkProblem">{{recoveryMessage}}</span>
          <span class="recovery-label error-label" *ngIf="recoveryMode && networkProblem">{{recoveryMessage}}</span>
        </div>
      </mat-tab>

      <mat-tab label="Регистрация">
        <div class="form-wrapper">
          <mat-form-field>
            <input matInput placeholder="Логин" [(ngModel)]="userRegInfo.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Пароль" [(ngModel)]="userRegInfo.password">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Повторите пароль">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="userRegInfo.email">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="register()">Зарегистрироваться</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>
