<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <img mat-card-image src={{card.img}} class="card-image">
        <mat-card-header class="dashboard-card-header">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <mat-card-subtitle>
            <span class="tag">
              Dota 2
            </span>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
