<div class="grid-container" #gridContainer>
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list [cols]="colsCount" rowHeight="450px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let preview of previews" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <a class="article-link" routerLink="/article/{{preview.id}}" routerLinkActive="active">
          <img mat-card-image src={{preview.logoSrc}} class="card-image">
        </a>
        <mat-card-header class="dashboard-card-header">
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                  *ngIf="authService.hasAnyAuthority('OP_UPDATE_ARTICLE', 'OP_DELETE_ARTICLE')">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item [routerLink]="['/article',preview.id,'edit']" *ngIf="authService.hasAuthority('OP_UPDATE_ARTICLE')"
                    routerLinkActive="active">Редактировать</button>
            <button mat-menu-item *ngIf="authService.hasAuthority('OP_DELETE_ARTICLE')"
                    (click)="deleteArticleById(preview.id)">Удалить</button>
          </mat-menu>
          <mat-card-title>
            <a class="article-link" routerLink="/article/{{preview.id}}" routerLinkActive="active">
              {{preview.title}}
            </a>
          </mat-card-title>
          <mat-card-subtitle>
            <span class="tag">
              {{preview.tag.name}}
            </span>
            <span class="date">
              {{preview.addDate | date: 'hh:mm dd.MM'}}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
