<mat-sidenav-container class="sidenav-container">
  <!--Will be used when we add user functionality-->
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true"
    [disableClose]="true"
    (openedChange)="sideNavChanged()">
    <mat-toolbar color="primary">
      <div mat-card-avatar class="user-avatar"></div>
      <div class="user-name">Гость</div>
      <span class="example-fill-remaining-space"></span>
      <button mat-button (click)="drawer.toggle()">Hide</button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Мой профиль</a>
      <a mat-list-item href="#">Мои комментарии</a>
      <a mat-list-item routerLink="/add-article">Добавить новость</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="content-toolbar" color="primary">

      Just news

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <span *ngFor="let category of categories" class="cat-menu">
        <a class="cat-link" routerLink="/category/{{category.id}}" routerLinkActive="active">
          <button mat-button>{{category.name}}</button>
        </a>
      </span>
      <div mat-card-avatar class="user-avatar" *ngIf="!drawer.opened" (click)="drawer.toggle()"></div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
