<mat-sidenav-container>
  <!--Will be used when we add user functionality-->
  <mat-sidenav
    #drawer
    class="sidenav"
    position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="authService.isLoggedIn()"
    [disableClose]="true"
    (openedChange)="sideNavChanged()">
    <mat-toolbar color="primary">
      <div mat-card-avatar class="user-avatar" [ngStyle]="{'background-image': 'url(' + profile.avatarUrl + ')'}"></div>
      <div class="user-name">{{user.userName}}</div>
      <span class="example-fill-remaining-space"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="hide-right-nav-icon" fontSet="fa" fontIcon="fa-angle-right">
        </mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['profile', user.userId]">Мой профиль</a>
      <a mat-list-item routerLink="/profile/edit">Редактировать профиль</a>
      <a mat-list-item routerLink="/mailing">Управление подпиской</a>
      <a mat-list-item routerLink="/user/settings">Настройки</a>
      <a mat-list-item routerLink="/add-article" *ngIf="authService.hasAuthority('OP_ADD_ARTICLE')">Добавить новость</a>
      <a mat-list-item (click)="logout()">Выйти</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="content-toolbar" color="primary">

      <span class="logo-link"><a href="/" >Just news</a></span>


      <div class="form-search">
        <input placeholder="Искать в категории" type="text" class="search-box" [(ngModel)]="searchText">
        <button mat-icon-button [disableRipple]="true" (click)="search()">
          <mat-icon class="search-button" fontSet="fa" fontIcon="fa-search">
          </mat-icon>
        </button>
      </div>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <!--<span *ngFor="let category of categories" class="cat-menu">-->
        <!--<a class="cat-link" routerLink="/category/{{category.id}}" routerLinkActive="active">-->
          <!--<button mat-button (click)="catClicked(this)">{{category.name}}</button>-->
        <!--</a>-->
      <!--</span>-->
      <mat-button-toggle-group #group="matButtonToggleGroup" color="primary" value="{{categoryId}}">
        <mat-button-toggle *ngFor="let category of categories" value="{{category.id}}"
                           (click)="categorySelected(category.id)">
          <span class="cat-menu">{{category.name}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <div mat-card-avatar class="user-avatar" *ngIf="!drawer.opened && authService.isLoggedIn()" (click)="drawer.toggle()"
           [ngStyle]="{'background-image': 'url(' + profile.avatarUrl + ')'}"></div>
      <button mat-stroked-button class="login-button"[color]="primary" routerLink="/auth" *ngIf="authService.isLoggedOut()">Войти</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
