.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.user-avatar {
  background-size: cover;
  margin: 0 10px;
}

mat-sidenav-content {
  min-height: 100vh;
}

.content-toolbar > .user-avatar {
  cursor: pointer;
}

.user-info {
  height: 20px;
}

.user-name {
  margin: auto 0;
}


.mat-button-toggle {
  vertical-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
  color: white;
  box-shadow: none;
  text-decoration: none;

}

.mat-button-toggle-checked {
  background-color: #3648a0;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.hide-right-nav-icon {
  width: 30px;
  height: 30px;
}

.confirm-email-banner {
  font-size: 100%;
  height: 30px;
}

.hide-confirm-email-banner {
  width: 20px;
  height: 20px;
}
