.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.user-avatar {
  background-size: cover;
  margin: 0 10px;
}

mat-sidenav-content {
  min-height: 100vh;
}

.content-toolbar > .user-avatar {
  cursor: pointer;
}

.user-info {
  height: 20px;
}

.user-name {
  margin: auto 0;
}


.mat-button-toggle-group {
  /*margin-right: 25px;*/

}

.mat-button-toggle {
  /*vertical-align: center;*/
  font-family: Roboto;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 100;
  color: white;
  box-shadow: none !important;
  text-decoration: none;
}

.mat-button-toggle-checked {
  background-color: #3648a0;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.hide-right-nav-icon {
  width: 30px;
  height: 30px;
}

.confirm-email-banner {
  font-size: 100%;
  height: 30px;
}

.hide-confirm-email-banner {
  width: 20px;
  height: 20px;
}

.search-box {
  /*color: black;*/
  /*width: 70%;*/
  /*padding: 12px 20px;*/
  /*margin: 8px 0;*/
  box-sizing: border-box;
  /*width: 50px;*/
  border: 0;
  padding: 0 5px;
  font-weight: 400;
  color: #2a3670;
}

.search-button {
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
}

.form-search {
  margin-top: 10px;
  margin-left: 20px;
  border: 0;
  background: transparent;
}

.login-button {
  margin: 0 10px;
}
