div {
  /*border: 1px solid black;*/
}

.article-wrapper {
  max-width: 70%;
  margin: 20px auto;
}
.article-title h1 {
  font-size: 2em;
  font-weight: bold;
}

.article-info {
  text-align: left;
  width: 100%;
  padding: auto 0;
  display: table;
  margin-bottom: 20px;
}

.author-info {
  display: table;
}

.author-name-details {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  color: black;
  font-weight: 400;
  font-size: 100%;
}

.author-nick {
  font-weight: 500;
}

.author-ava-rating {
  display: flex;
  flex-direction: column;
}

.comment-author-ava-rating {
  margin-right: 5px;
  margin-left: 5px;
  width: 60px;
  height: 60px;
}

.authorRating {

  /*margin-top: 0;*/
}

.user-rating {
  margin-top: 10px;
}

.author-name-details > a {
  color: darkslategray;
  font-size: 120%;
}

.comment-author > a {
  color: black;
}

.user-avatar {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  display: table-cell;
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.article-add-date {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.mat-card-content {
  margin: 20px 0 ;
}

.article-content ::ng-deep img  {
  width: 100%;
}

.mat-card-footer {
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
}

.mat-card-actions {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.tag {
  padding: 5px;
  margin: 0 5px;
  color: white;
  background-color: #3f51b5;
  font-size: 90%;
}

.rating {
  display: inline;
  font-size: 200%;
  color: black;
  width: 20px;
  margin: auto 30px;
}

.artice-rating-title {
  margin: auto 0;
  margin-left: 20px;
}

.comments-card {
  margin-top: 20px;
}

.comments-block > .comment-wrapper {
  margin-left: 0;
}

.comment-wrapper {
  margin-top: 10px;
  margin-left: 50px;
  min-height: 75px;
}

.temp {
  min-height: 90px;
}
.comment-author{
  font-weight: 600;
}

.comment-date {
  margin-left: 10px;
  color: gray;
}

.comment-title {
  margin-bottom: 10px;
}

.comment-content  {
  color: black;
}

.comment-buttons {
  margin-top: -15px;
  margin-left: 77px;
}

.comment-rating {
  font-size: 150%;
  color: black;
  margin-left: 10px;
}

.user-comment {
  margin-top: 40px;
}

.user-comment-form {
  display: flex;
  flex-direction: row;
}

.user-comment-content {
  width: 70%;
}

.user-comment-content textarea {
  min-height: 40px;
  /*width: 20%;*/
}

.user-comment-form > .user-avatar {
  max-width: 80px;
  margin: 0 10px;
}

.send-button {
  height: 40px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.comments-divider {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-label {
  color: red;
  font-weight: 500;
}
