<div class="article-wrapper">

  <div class="article-header">
    <div class="article-title">
      {{article.title}}
    </div>
    <div class="article-details">
      <div class="author-info">
        {{article.authorName}}
      </div>
      <div class="article-add-date">
        {{article.addDate | date: 'hh:mm dd.MM.yyyy'}}
      </div>
    </div>
  </div>

  <div class="article-content">
    {{article.content}}
  </div>

  <div class="article-tags">
    <span class="tag">
      {{article.tag.name}}
    </span>
  </div>

  <div class="article-comments">
    sdfsdf
  </div>
</div>
