<!--ngIf here to be free of error due to html rendered before we load article from server-->
<div *ngIf="article" class="article-wrapper mat-typography">

  <div class="article-header">
    <div class="article-title">
      <h1>{{article.title}}</h1>
    </div>
    <div class="article-details">
      <div class="author-info">
        {{article.authorName}}
      </div>
      <div class="article-add-date">
        {{article.addDate | date: 'hh:mm dd.MM.yyyy'}}
      </div>
    </div>
  </div>

  <div markdown [data]="article.content" class="article-content">
  </div>

  <div class="article-tags">
    Теги:
    <span class="tag">
      {{article.tag.name}}
    </span>
  </div>

  <div class="article-comments">
    Блок комментариев
  </div>
</div>
